
<mat-toolbar  class="expanded-toolbar">

        <span>
    
          <button mat-button routerLink="/">{{title}}</button>
    
        </span>
    
      <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    
        <button mat-button routerLink="/login" *ngIf="!(isAuthenticated | async)">
    
          <mat-icon>power_settings_new</mat-icon>
    
          Login
    
        </button>
    
        <button mat-button *ngIf="isAuthenticated | async" (click)="logout()">
    
          <mat-icon>exit_to_app</mat-icon>
    
          Logout
    
        </button>
    
      </div>

    
    </mat-toolbar>
    

    
    <div>

      <router-outlet></router-outlet>

    </div>


    <footer>

      <mat-toolbar  class="expanded-toolbar">

      <div> Amplify Angular - © Jose Pablo Solano - 
        <a href="https://github.com/pabloso18"> My Github</a>
      </div>
      

    </mat-toolbar>

    </footer>


